/*  
WebFont Choices

http://www.google.com/webfonts#ChoosePlace:select/Collection:Comfortaa|Rationale|Play|Droid+Sans|VT323|Jura|Raleway:100|Terminal+Dosis+Light */



body 
{
	font-family: 'Raleway', serif;
	font-size: 16px;
}
  

._image, ._text, ._code, ._about 
{
	font-family: "Raleway", serif;
	font-size: 48px;
	color: black;
	position: relative;
	display: block;
	z-index: 99;
	cursor: pointer;
	text-align: center;
	height: 80px;
	width: 320px;
}

._image 
{
	left: 497px;
	top: 180px;
}

._text
{
	left: 300px;
	top: 400px;	
}

._code
{
	left: 690px;
	top: 322px;
}

._about
{
	left: 492px;
	top: 160px;
}

.mouseOver
{
	text-decoration: underline;
}

._home_strat
{
	display: block;
	position: relative;
}

._about_strat, ._code_strat, ._text_strat
{
	display: none;
	position: relative;	
	font-family: "Raleway", serif;
	color: black;
	z-index: 99;
	left: 120px;
	width: 1020px;
	opacity: 0.0;
}

._about_header, ._code_header, ._text_header
{
	font-size: 36px;
	font-weight: bold;
	margin-top: -220px;
	margin-left: 280px;
}

._about_body, ._code_body, ._text_body
{
	font-size: 24px;
	margin-top: 20px;
	margin-left: 70px;
	width: 900px;
}

._about_contact
{
	font-size: 24px;
	margin-left: 260px;
}

._code_strat, ._text_strat
{
	left: 380px;
	width: 460px;
}

._code_header, ._text_header
{
	font-size: 60px;
	margin-left: 0px;
	margin-top: -235px;
	text-align: center;
}

._code_body, ._text_body
{
	margin-left: 0px;
	width: 460px;
	
}
